改善ポイント　
：seleniumによって，クリック&urlの取得
→そのurlのリスト化→今のところ手動
clear
：when＝日付のリスト化（どうfor文を回して所得するか）
→len(data)の奇数，偶数で判定して'-6'or'-94'を選択する

Next：time.sleepにどれだけ費やせばいいんや

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
##一つ目のデータを取得
def first_data(url,when):
    global data_sum
    data=pd.read_html(url,header=0)
    
    data=data[0]
    data=data[['国名',dece]]
    data.index=data['国名']
    data=data.drop('国名',axis=1)
    data.columns=[when] 
    data_sum=data
    return data_sum.head()

##二つ目以降は追加していく
def merge_data(url):
    global data1,data_sum
    data=pd.read_html(url,header=0)
    check=data_sum
    num=len(check)-1
    try:
        when_is=data_sum.columns[-1]
        print('Correct')
    except:
        when_is=data_sum.columns[0]
        print('False')
    if len(check.columns)%2==0:
        month=dece
        when_is=when_is-94
        print('12月')
    else :
        month=june
        when_is=when_is-6
        print("6月")
    print('when_is:{}'.format(when_is))
    data=data[0][['国名',month]]
    data.index=data['国名']
    data=data.drop('国名',axis=1)
    data.columns=[when_is]
    
    data1=data
    data_sum=data_sum.join([data1])
    return data_sum.head()

In [3]:
##６月　１２月のcolumns名が欲しいが何故か直接入力はできないので実際に抽出している．
url='https://fifaranking.net/ranking/index.php?d=2019-09-19'
data=pd.read_html(url,header=0)
data=data[0]
june=data.columns.values[5]##６月カラム
dece=data.columns.values[8]##１２月カラム

In [4]:
##1つ目
url='https://fifaranking.net/ranking/index.php?d=2019-09-19'
when=201912
first_data(url,when)

       201912
国名
ベルギー       1位
フランス       2位
ブラジル       3位
イングランド     5位
ポルトガル      6位

In [5]:
##この行以降を編集

In [7]:

import time 
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
import chromedriver_binary
# Selectタグが扱えるエレメントに変化させる為の関数を呼び出す
from selenium.webdriver.support.ui import Select
url_list=[]
##取り出すページのvalue取得
value_list=["2019-07-25","2019-02-07","2018-08-16","2018-02-15","2017-08-10","2017-02-09","2016-08-11","2016-02-04","2015-08-06","2015-02-12","2014-08-14","2014-02-13","2013-08-08","2013-02-14","2012-08-08","2012-02-15","2011-08-24","2011-02-02","2010-08-11","2010-02-03","2009-08-05","2009-02-11","2008-08-06","2008-02-13","2007-08-22",]
##driverでURLを取得
driver = webdriver.Chrome('/Users/miyamotoryo/opt/anaconda3/bin/chromedriver') 
##最初のページを表示
driver.get('https://fifaranking.net/ranking/index.php?d=2020-02-20')
time.sleep(4)
for value in value_list:
    time.sleep(6)
    ###ループで必要分回す
    ##年月のタグを開く
    a= driver.find_element_by_name("d")
    a_select=Select(a)
    #指定の年月を開く
    a_select.select_by_value(value)
    time.sleep(4)
    ##表示ボタンをクリック
    ss=driver.find_element_by_xpath("//*[@id='top']/div/div[3]/div[7]/form/fieldset/div/button")
    time.sleep(6)
    ss.click()
    time.sleep(6)
    ht=driver.current_url
    url_list.append(ht)
driver.quit()
url_list

NoSuchWindowException: Message: no such window: window was already closed
  (Session info: chrome=83.0.4103.97)

In [39]:
for i in url_list:
    print(i)
    merge_data(i)

https://fifaranking.net/ranking/index.php?d=2019-07-25
Correct
6月
when_is:201906
https://fifaranking.net/ranking/index.php?d=2019-07-25
Correct
12月
when_is:201812
https://fifaranking.net/ranking/index.php?d=2019-07-25
Correct
6月
when_is:201806
https://fifaranking.net/ranking/index.php?d=2019-07-25
Correct
12月
when_is:201712
https://fifaranking.net/ranking/index.php?d=2019-07-25
Correct
6月
when_is:201706
https://fifaranking.net/ranking/index.php?d=2019-07-25
Correct
12月
when_is:201612
https://fifaranking.net/ranking/index.php?d=2019-07-25
Correct
6月
when_is:201606
https://fifaranking.net/ranking/index.php?d=2019-07-25
Correct
12月
when_is:201512
https://fifaranking.net/ranking/index.php?d=2015-08-06
Correct
6月
when_is:201506
https://fifaranking.net/ranking/index.php?d=2015-02-12
Correct
12月
when_is:201412
https://fifaranking.net/ranking/index.php?d=2014-08-14
Correct
6月
when_is:201406
https://fifaranking.net/ranking/index.php?d=2014-02-13
Correct
12月
when_is:201312
https://fifaranking.net/ranking/index.php?d=2013-08-08
Correct
6月
when_is:201306
https://fifaranking.net/ranking/index.php?d=2013-08-08
Correct
12月
when_is:201212

KeyError: "['12月'] not in index"

In [33]:
data_sum

             201912 201906 201812 201806 201712 201706 201612
国名
ベルギー             1位     1位     1位     3位     5位     7位     5位
フランス             2位     2位     2位     7位     9位     6位     7位
ブラジル             3位     3位     3位     2位     2位     1位     2位
イングランド           5位     4位     5位    12位    15位    13位    13位
ポルトガル            6位     5位     6位     4位     3位     8位     8位
ウルグアイ            7位     8位     7位    14位    21位    16位     9位
スペイン             9位     7位     9位    10位     6位    10位    10位
クロアチア            4位     6位     4位    20位    17位    18位    14位
コロンビア           12位    13位    12位    16位    13位     5位     6位
アルゼンチン          11位    11位    11位     5位     4位     2位     1位
スイス              8位     9位     8位     6位     8位     9位    11位
メキシコ            17位    18位    17位    15位    16位    17位    18位
オランダ            14位    14位    14位    17位    20位    31位    22位
デンマーク           10位    10位    10位    12位    12位    51位    46位
イタリア            18位    14位    18位    19位    14位    12位    16位
ドイツ             16位    11位    16位     1位     1位     3位     3位
チリ              13位    16位    13位     9位    10位     4位     4位
スウェーデン          14位    17位    14位    24位    18位    34位    41位
ペルー             20位    21位    20位    11位    11位    15位    19位
セネガル            23位    22位    23位    27位    23位    27位    33位
アメリカ合衆国         25位    30位    25位    25位    24位    23位    28位
ポーランド           20位    19位    20位     8位     7位    10位    15位
ウェールズ           19位    23位    19位    18位    19位    13位    12位
イラン             29位    20位    29位    37位    32位    30位    29位
ウクライナ           28位    24位    28位    35位    35位    37位    30位
ベネズエラ           31位    33位    31位    33位    52位    NaN    NaN
オーストリア          22位    26位    22位    26位    29位    35位    31位
アイルランド          33位    32位    33位    31位    32位    26位    23位
チュニジア           26位    25位    26位    21位    27位    41位    35位
スロバキア           27位    31位    27位    28位    28位    21位    25位
ルーマニア           24位    27位    24位    30位    41位    46位    39位
日本              50位    28位    50位    NaN    NaN    45位    NaN
北アイルランド         35位    28位    35位    29位    24位    28位    32位
ナイジェリア          44位    45位    44位    48位    NaN    38位    51位
セルビア            29位    34位    29位    34位    36位    50位    NaN
トルコ             39位    37位    39位    38位    42位    25位    24位
韓国              53位    37位    53位    NaN    NaN    43位    37位
アルジェリア          67位    68位    NaN    NaN    NaN    53位    38位
モロッコ            40位    47位    40位    41位    40位    NaN    57位
パラグアイ           32位    36位    32位    32位    30位    36位    40位
アイスランド          37位    35位    37位    22位    22位    22位    21位
ロシア             48位    43位    48位    70位    NaN    NaN    NaN
コスタリカ           36位    39位    36位    23位    26位    19位    17位
オーストラリア         41位    43位    41位    36位    38位    48位    NaN
チェコ             42位    41位    42位    46位    48位    44位    43位
ボスニア・ヘルツェゴビナ    34位    39位    34位    40位    37位    29位    27位
ノルウェー           46位    47位    46位    NaN    NaN    NaN    NaN
ジャマイカ           54位    NaN    NaN    NaN    54位    NaN    NaN
エジプト            56位    58位    NaN    NaN    31位    20位    36位
ハンガリー           51位    42位    NaN    NaN    53位    NaN    26位

In [ ]:
##二つ目
url='https://fifaranking.net/ranking/index.php?d=2019-09-19'

merge_data(url)

In [78]:
##三つ目
url='https://fifaranking.net/ranking/index.php?d=2019-02-07'

merge_data(url)

Correct
12月
when_is:201812

       201912 201906 201812
国名
ベルギー       1位     1位     1位
フランス       2位     2位     2位
ブラジル       3位     3位     3位
イングランド     4位     4位     5位
ウルグアイ      5位     8位     7位

ここまで成功

In [54]:
len(data_sum.columns)

3

In [61]:
##四つ目
url='https://fifaranking.net/ranking/index.php?d=2018-08-16'
when=201806
merge_data(url,when)
##五つ目
url='https://fifaranking.net/ranking/index.php?d=2018-02-15'
when=201712
merge_data(url,when)
##六つ目
url='https://fifaranking.net/ranking/index.php?d=2017-09-14'
when=201706
merge_data(url,when)

       201912 201906 201812 201806 201712 201706
国名
ベルギー       1位     1位     1位     3位     5位     7位
フランス       2位     2位     2位     7位     9位     6位
ブラジル       3位     3位     3位     2位     2位     1位
イングランド     4位     4位     5位    12位    15位    13位
ウルグアイ      5位     8位     7位    14位    21位    16位

In [53]:
##7つ目
url='https://fifaranking.net/ranking/index.php?d=2017-09-14'
when=201612
merge_data(url,when)
##8つ目
url='https://fifaranking.net/ranking/index.php?d=2017-09-14'
when=201606
merge_data(url,when)
##9つ目
url='https://fifaranking.net/ranking/index.php?d=2017-09-14'

when=201512
merge_data(url,when)
##10つ目
url='https://fifaranking.net/ranking/index.php?d=2017-09-14'
when=201506
merge_data(url,when)

   順位  順位.1    point      国名  8月   7月  6月  5月  4月
0   1   NaN  1606pts     ドイツ  2位   1位  3位  3位  3位
1   2   NaN  1590pts    ブラジル  1位   2位  1位  1位  1位
2   3   NaN  1386pts   ポルトガル  6位   4位  8位  8位  8位
3   4   NaN  1325pts  アルゼンチン  3位   3位  2位  2位  2位
4   5   NaN  1265pts    ベルギー  9位  10位  7位  7位  7位

N個目まで作成

In [ ]:
##列タグのみのリスト作成
columns=[]
for i in data_sum.columns:
    columns.append(i)

In [ ]:
## '位'を取り除く
#各columnを入れて行くことしか対応していないため，for文で対応した．
for i in columns:
    data_sum[i]=data_sum[i].str.replace('位','')

In [ ]:
##　数字がobject型なので，floatへと変換した
#スライスは行指定でしか使えない
#NaNがあると，対応しないため９９に変更
data_sum[columns]=data_sum[columns].fillna(99)
data_sum[columns]=data_sum[columns].astype('int64')

In [ ]:
data_sum.dtypes

In [ ]:
data_sum